{% extends "home.html" %}
{% load static %}
{% block title %}Редактировать класс{% endblock %}
{% block content %}
  <div class="content-header">
  <div class="container-fluid">
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <form method="post" id="klass-form">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Редактировать класс</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="code" class="col-form-label">Код</label>
                    <input
                      id="code"
                      class="form-control"
                      name="code"
                      value="{{ klass.code }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="name" class="col-form-label">Название</label>
                    <input
                      id="name"
                      class="form-control"
                      name="name"
                      value="{{ klass.name }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="description" class="col-form-label">Описание</label>
                    <textarea
                      id="description"
                      class="form-control"
                      name="description"
                      required
                    >{{ klass.description }}</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="form-group">
            <button type="submit" id="submit-button" class="btn btn-primary float-right">Редактировать</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'custom/js/csrftoken.js' %}"></script>

    <script>
        let submitButton = $('#submit-button');
        let form = $('#klass-form');

        $(document).ready(function () {
            submitButton.click(function (e) {
                e.preventDefault();

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                let forms = {};
                let params = {}
                forms.csrfmiddlewaretoken = csrftoken;
                forms.action = 'update';
                forms.id = {{ klass.id }};
                let serializedForm = form.serializeArray();
                for (let i = 0; i < serializedForm.length; i++) {
                    params[serializedForm[i]['name']] = serializedForm[i]['value'];
                }
                forms.params = params;

                $.ajax({
                    url: '/api/klass/',
                    data: JSON.stringify(forms),
                    {#processData: false,#}
                    contentType: 'application/json',
                    dataType: 'json',
                    type: "POST",
                    success: function (data) {
                        if (data.success === true) {
                            console.log(data);
                            window.location.replace('/references/klass/' + {{ klass.id }} + '/');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
