{% extends "home.html" %}
{% load static %}
{% block title %}Банк{% endblock %}

{% block content %}
  <div class="content-header">
  <div class="container-fluid">
  </div>
</div>

<!-- Main content -->
   <div class="content">
  <div class="container-fluid">
    <form method="post" id="bank-form">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Редактировать банк</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="code" class="col-form-label">Код банка</label>
                    <input
                      id="code"
                      class="form-control"
                      name="code"
                      value="{{ bank.code }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="bank_name" class="col-form-label">Наименование банка</label>
                    <input
                      id="bank_name"
                      class="form-control"
                      name="bank_name"
                      value="{{ bank.bank_name }}"
                      required
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="branch_name" class="col-form-label">Наименование филиала</label>
                    <input
                      id="branch_name"
                      class="form-control"
                      name="branch_name"
                      value="{{ bank.branch_name }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address" class="col-form-label">Адрес банка</label>
                    <input
                      id="address"
                      class="form-control"
                      name="address"
                      value="{{ bank.address }}"
                      required
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inn" class="col-form-label">ИНН банка</label>
                    <input
                      id="inn"
                      class="form-control"
                      name="inn"
                      value="{{ bank.inn }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="account_number" class="col-form-label">Расчетный счет банка</label>
                    <input
                      id="account_number"
                      class="form-control"
                      name="account_number"
                      value="{{ bank.account_number }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="status" class="col-form-label">Статус</label>
                    <select
                      id="status"
                      class="form-control"
                      name="status"
                    >
                      <option value="1" {% if bank.status == 1 %}selected="selected"{% endif %}>Неактивный</option>
                      <option value="2" {% if bank.status == 2 %}selected="selected"{% endif %}>Активный</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-group">
          <button type="submit" id="submit-button" class="btn btn-primary float-right">Добавить</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'custom/js/csrftoken.js' %}"></script>

    <script>
        $('#parent_id').select2();
        $('#region_id').select2();
        $('#director').select2();
        let submitButton = $('#submit-button');
        let form = $('#bank-form');

        $(document).ready(function () {
            submitButton.click(function (e) {
                e.preventDefault();

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                let forms = {};
                let params = {}
                forms.csrfmiddlewaretoken = csrftoken;
                forms.action = 'update';
                forms.id = {{ bank.id }};
                let serializedForm = form.serializeArray();
                for (let i = 0; i < serializedForm.length; i++) {
                    params[serializedForm[i]['name']] = serializedForm[i]['value'];
                }
                forms.params = params;

                $.ajax({
                    url: '/api/bank/',
                    data: JSON.stringify(forms),
                    {#processData: false,#}
                    contentType: 'application/json',
                    dataType: 'json',
                    type: "POST",
                    success: function (data) {
                        if (data.success === true) {
                            console.log(data);
                            window.location.replace('/references/bank/');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
