{% extends "home.html" %}
{% load static %}
{% block title %}Редактировать клиента{% endblock %}
{% block content %}
  <div class="content-header">
  <div class="container-fluid">
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <form method="post" id="individual-client-form">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Редактировать клиента</h3>
              <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                      <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fas fa-times"></i>
                  </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="first_name" class="col-form-label">Имя</label>
                    <input
                      id="first_name"
                      class="form-control"
                      name="first_name"
                      value="{{ client.first_name }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="middle_name" class="col-form-label">Отчество</label>
                    <input
                      id="middle_name"
                      class="form-control"
                      name="middle_name"
                      value="{{ client.middle_name }}"
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="last_name" class="col-form-label">Фамилия</label>
                    <input
                      id="last_name"
                      class="form-control"
                      name="last_name"
                      value="{{ client.last_name }}"
                      required
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address" class="col-form-label">Адрес</label>
                    <input
                      id="address"
                      class="form-control"
                      name="address"
                      value="{{ client.address }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone_number" class="col-form-label">Номер телефона</label>
                    <input
                      id="phone_number"
                      class="form-control"
                      name="phone_number"
                      value="{{ client.phone_number }}"
                      required
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="passport_series" class="col-form-label">Серия паспорта</label>
                    <input
                      id="passport_series"
                      class="form-control"
                      name="passport_series"
                      value="{{ client.passport_series }}"
                      required
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="passport_number" class="col-form-label">Номер паспорта</label>
                    <input
                      id="passport_number"
                      class="form-control"
                      name="passport_number"
                      value="{{ client.passport_number }}"
                      required
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card-footer">
        <div class="form-group">
            <button type="submit" id="submit-button" class="btn btn-primary float-right">Добавить</button>
        </div>
      </div>
    </form>
  </div>
</div>
    <script>
        
    </script>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'custom/js/csrftoken.js' %}"></script>

    <script>
        let submitButton = $('#submit-button');
        let form = $('#individual-client-form');

        $(document).ready(function () {
            submitButton.click(function (e) {
                e.preventDefault();

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                let forms = {};
                let params = {}
                forms.csrfmiddlewaretoken = csrftoken;
                forms.action = 'update';
                forms.id = {{ client.id }};
                let serializedForm = form.serializeArray();
                for (let i = 0; i < serializedForm.length; i++) {
                    params[serializedForm[i]['name']] = serializedForm[i]['value'];
                }
                params.id = {{ client.id }};
                forms.params = params;

                $.ajax({
                    url: '/api/client-individual/',
                    data: JSON.stringify(forms),
                    {#processData: false,#}
                    contentType: 'application/json',
                    dataType: 'json',
                    type: "POST",
                    success: function (data) {
                        if (data.success === true) {
                            console.log(data);
                            window.location.replace('/individual-client/' + {{ client.id }} + '/');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
