{% extends "home.html" %}
{% load static %}
{% block title %}Создать запрос{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.css' %}">
{% endblock %}
{% block content %}
  <div class="content-header">
  <div class="container-fluid">
  </div>
</div>

    <section class="content">
      <div class="card  card-info">
        <div class="card-header">
          <h3 class="card-title">Запросы</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
              <form role="form">
                <div class="form-group">
                  <label>Статус</label>
                  <select name="status" class="form-control select2 col-sm-4" id="status-type">
                    <option selected="selected" value="1">Бракован</option>
                    <option value="2">Испорчен</option>
                    <option value="3">Утерян</option>
                    <option value="4">Расторгнут</option>
                    <option value="5">Прием-передача полисов</option>
                    <option value="6">Андеррайтинг</option>
                  </select>
                </div>

                <div class="row">
                  <div class="col-sm-4" id="#series">
                    <div class="form-group">
                      <label>Серия</label>
                      <input name="series" type="text" class="form-control" placeholder="Серия">
                    </div>
                  </div>
                  <div class="col-sm-4" id="policy-number">
                    <div class="form-group">
                      <label>Номер полиса</label>
                      <input name="policy_number" type="text" class="form-control" placeholder="Номер полиса">
                    </div>
                  </div>
                </div>
                <div class="form-group" id="policy-amount">
                  <label>Количество полисов</label>
                  <input name="amount" type="number" class="form-control" placeholder="100">
                </div>

                <div class="form-group" id="act-number">
                  <label>Номер акта</label>
                  <input type="text" class="form-control" placeholder="ADV100023">
                </div>

                <div class="form-group" id="exceed-limits">
                  <label>Причина увелечения лимитов</label>
                  <input type="text" class="form-control" placeholder="">
                </div>

                <div class="form-group" id="file">
                  <label for="exampleInputFile">Файл</label>
                  <div class="input-group col-sm-4">
                    <div class="custom-file">
                      <input name="file" type="file" class="custom-file-input" id="exampleInputFile">
                      <label class="custom-file-label" for="exampleInputFile">Выбирите файл</label>
                    </div>
                  </div>
                </div>

                <div class="form-group" id="comments">
                  <label>Комментарий</label>
                  <textarea class="textarea" placeholder="Place some text here"
                            style="width: 80%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                  </textarea>
                </div>

              </form>

          <div class="card-footer">
            <button type="save" style="margin-left: 10px" class="btn btn-primary float-right">Распечатать</button>
            <button type="submit" class="btn btn-primary float-right">Сохранить</button>
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->

{% endblock %}
{% block js %}
  {{ block.super }}
    <script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>

    <script>
    $(function () {
    $('.textarea').summernote();
  });

  $(document).ready(function(){
    $('#status-type').on('change', function() {
      if ( this.value === '5')
      {
        $("#policy-number").hide();
        $("#exeed-limits").hide();
        $("#policy-amount").show();
        $("#act-number").show();
      }
      else if(this.value === '6') {
        $("#exeed-limits").show();
        $("#policy-number").show();
        $("#policy-amount").hide();
        $("#act-number").hide();
      }
      else
      {
        $("#policy-number").show();
        $("#exeed-limits").hide();
        $("#policy-amount").hide();
        $("#act-number").hide();
      }
    });

    $('#status-type').trigger('change');
  });
  </script>

{% endblock %}
