{% extends "home.html" %}
{% load static %}
{% block title %}Пользователь: {{ user.name }}{% endblock %}
{% block content %}
  <div class="content-header">
    <div class="container-fluid">
    </div>
  </div>

<div class="content">
  <div class="container-fluid">
      <div class="d-flex flex-row mb-3">
        <a href="{% url 'user_edit' user.id %}" class="btn btn-primary mr-1">Редактировать пользователя</a>

        <form method="POST" id="delete-form" class="mr-1">
            {% csrf_token %}
            <button id="delete-button" class="btn btn-danger" onclick="return confirm('Вы уверены?')">Удалить</button>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <table class="table {% comment %}table-bordered{% endcomment %} table-striped projects">
                        <tbody>
                        <tr><th>ID</th><td>{{ user.id }}</td></tr>
                        <tr><th>Имя пользователя</th><td>{{ user.username }}</td></tr>
                        <tr><th>Электронная почта</th><td>{{ user.email }}</td></tr>
                        <tr><th>омер телефона</th><td>{{ user.profile.phone }}</td></tr>
                        <tr><th>ФИО</th><td>{{ user.last_name }} {{ user.first_name }} {{ user.profile.middle_name }}</td></tr>
                        <tr><th>Активный</th><td>{% if user.is_active %}Да{% else %}Нет{% endif %}</td></tr>
                        <tr><th>Серия паспорта</th><td>{{ user.profile.passport_series }}</td></tr>
                        <tr><th>Номер паспорта</th><td>{{ user.profile.passport_number }}</td></tr>
                        <tr><th>Дата выдачи паспорта</th><td>{{ user.profile.passport_given_date }}</td></tr>
                        <tr><th>Кем выдан паспорта</th><td>{{ user.profile.passport_given_by }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-gray card-outline">
                <div class="card-header"><h3 class="card-title">Logo</h3></div>
                <div class="card-body">
                    @if ($payment->logo)
                        <a href="{{ $payment->logoOriginal }}" target="_blank"><img src="{{ $payment->logoThumbnail }}"></a>
                    @endif
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'custom/js/csrftoken.js' %}"></script>

    <script>
        let deleteButton = $('#delete-button');
        let form = $('#delete-form');

        $(document).ready(function () {
            deleteButton.click(function (e) {
                e.preventDefault();

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                let forms = {};
                forms.csrfmiddlewaretoken = csrftoken;
                forms.action = 'delete';
                forms.id = {{ user.id }};

                $.ajax({
                    url: '/api/user_creat_update/',
                    data: JSON.stringify(forms),
                    {#processData: false,#}
                    contentType: 'application/json',
                    dataType: 'json',
                    type: "POST",
                    success: function (data) {
                        if (data.success === true) {
                            console.log(data);
                            window.location.replace('/user');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
